<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Músicas</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Lista de Músicas</h1>
    <ul>
        {% for musica in musicas %}
        <li>{{ musica.nome }} - <a href="{{ musica.link_spotify }}">Spotify</a> | <a href="{{ musica.link_youtube }}">YouTube</a> - Preferência: {{ musica.dia_preferencia }}</li>
        {% endfor %}
    </ul>
    <a href="/criar_musica">Adicionar Nova Música</a>
</body>
</html>
